h1,h2 {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}
/* @media (max-width: 480px) {
    h1{font-size: 8vw;}
}
@media (min-width: 481px) {
    h1{font-size: 4vw;}
} */
h1 {
   font-size: 8vw;
}
h2 {
   font-size: 2vw;
}
body { 
    font-family: georgia, serif;
    font-size: 1vw;
    text-align: center;
}
img {
 /*   max-width: 20%; */
    height: auto;
    width: auto;
}
